.footer-companyList-item,
.footer-copyright {
  color: var(--main-color);
}

.footer {
  background: #231815;
}

.footer-inner {
  display: grid;
  gap: 30px;
  padding: 40px 4%;
  max-width: 600px;
  margin: 0 auto;
}

.footer-copyright {
  margin: 20px 0 0;
  font-size: 13px;
}

.footer-logo {
  width: 60px;
  height: 60px;
}
.footer-companyList {
}
.footer-companyList-item {
  font-size: 13px;
  line-height: var(--line-height-default);
}

.footer-snsLink {
  width: 24px;
  height: 24px;
}

.footer-navList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color);
}
.footer-navList .navLink {
  font-size: 15px;
}
.footer-navList .navLink-text-en {
  font-size: 12px;
}

@media screen and (min-width: 960px) {
  .footer-inner {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: 20px;
    padding: 60px 50px 50px;
    max-width: 1260px;
  }

  .footer-companyList {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer-snsList {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .footer-nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer-copyright {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: end;
    font-size: 14px;
  }

  .footer-logo {
    width: 40px;
    height: 40px;
  }

  .footer-companyList-item {
    font-size: 14px;
  }

  .footer-snsLink {
  }

  .footer-navList {
    flex-direction: row;
    gap: 60px;
  }

  .footer-navList .navLink {
    font-size: 18px;
  }
}
