.footer-info,
.footer-copyright {
  color: var(--main-color);
}

.footer {
  background: #292929;
  height: 269px;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.footer-info-logo {
  width: 40px;
  height: 40px;
}

.footer-info-sns {
  width: 24px;
  height: 24px;
}

.footer-navList {
  color: var(--white);
}
