.header {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.header-inner {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 170px auto;
  max-width: 1240px;
}

.l-header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-navList {
  align-items: center;
  gap: 40px;
  color: var(--main-color);
}

.header-btn {
  padding: 0 44px 0 28px;
  height: 34px;
}
