@import url("./element/nav.css");
@import url("./element/Btn.css");
@import url("./element/logo.css");
@import url("./element/Firstview.css");
@import url("./element/TagList.css");

html,
body {
  position: relative;
  height: 100%;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
}

.slide img {
  width: 100%;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
