.firstview-bg img {
  z-index: 1;
}

.firstview-bg::before {
  z-index: 2;
}

.firstview-bgIndex,
.firstview-catchphrase {
  z-index: 3;
}

.firstview-inner {
  z-index: 4;
}

.firstview-bg img.active,
.firstview-bgIndex-number.active {
  opacity: 1;
}

.firstview,
.firstview-bg {
  position: relative;
  margin: 0 auto;
}

.firstview-bg::before,
.firstview-bg img,
.firstview-bgIndex,
.firstview-catchphrase,
.firstview-inner,
.firstview-contents {
  position: absolute;
}

.firstview-bgIndex,
.firstview-catchphrase {
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  width: 100%;
  color: var(--white);
  text-align: center;
}

.firstview-bg {
  width: 100%;
  max-width: 600px;
  height: 600px;
  margin: 0 auto;
}
.firstview-bg::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--bg-color-overlay);
  width: 100%;
  height: 100%;
}

.firstview-bg img {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}

.firstview-bgIndex-number {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.firstview-bgIndex {
  bottom: 52px;
}

.firstview-catchphrase {
  bottom: 28px;
}

.firstview-inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 600px;
  padding: 0 5%;
  margin: 0 auto;
}

.firstview-contents {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.firstview-title {
  width: 295px;
  margin: 0 auto;
}

.firstview-text {
  margin: 36px 0 0;
  color: var(--white);
  font-size: 13px;
  text-align: center;
  line-height: 1.7;
}

@media screen and (min-width: 960px) {
  .firstview,
  .firstview-bg {
    max-width: 1440px;
  }

  .firstview-bg {
    padding-top: 56.25%;
  }

  .firstview-bgIndex {
    top: 50%;
    bottom: unset;
    left: 2%;
    transform: translateY(-50%) rotate(270deg);
    width: 210px;
    height: 210px;
  }

  .firstview-catchphrase {
    top: 50%;
    right: 2%;
    bottom: unset;
    left: unset;
    transform: translateY(-50%) rotate(90deg);
    width: 210px;
    height: 210px;
  }

  .firstview-contents {
    top: 47%;
  }

  .firstview-title {
    width: 385px;
  }

  .firstview-text {
    font-size: 14px;
  }
}
