.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-arrow {
  gap: 8px;
}

.btn-color-gray {
  border: var(--main-color) solid 1px;
  color: var(--main-color);
}
.btn-color-gray:hover {
  background: var(--main-color);
  color: #fff;
}

.btn-color-white {
  background: transparent;
  border: var(--white) solid 1px;
  color: var(--white);
}
.btn-color-white:hover {
  color: var(--main-color);
  background: var(--white);
}
.btn-color-white:hover .btn-arrow::after {
  background: url("../../img/btn-arrow-active.png");
}

.btn-arrow-parts {
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 2px var(--sub-color);
  border-radius: 100%;
  width: 18px;
  height: 18px;
}
.btn-arrow-parts::before,
.btn-arrow-parts::after {
  content: "";
}
.btn-arrow-parts::before {
  position: absolute;
  display: inline-block;
  border-top: 2px solid var(--sub-color);
  border-right: 2px solid var(--sub-color);
  width: 4px;
  height: 4px;
  top: 6px;
  left: 6px;
  transform: rotate(45deg);
  transform-origin: center;
}
.btn-arrow-parts::after {
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 2px;
  top: 8px;
  left: 5px;
  background: var(--sub-color);
}
