.btn {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.btn-arrow {
  position: relative;
}
.btn-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: url("../../img/btn-arrow-default.png");
  width: 14px;
  height: 14px;
}
.btn-arrow:hover::after {
  background: url("../../img/btn-arrow-active.png");
}

.btn-color-gray {
  border: var(--text-color-gray) solid 1px;
  color: var(--text-color-gray);
}
.btn-color-gray:hover {
  background: var(--text-color-gray);
  color: #fff;
}

.btn-color-white {
  background: transparent;
  border: var(--text-color-white) solid 1px;
  color: var(--text-color-white);
}
.btn-color-white:hover {
  color: var(--text-color-gray);
  background: var(--bg-color-white);
}
.btn-color-white:hover .btn-arrow::after {
  background: url("../../img/btn-arrow-active.png");
}
