.firstview {
  /* background: radial-gradient(circle, rgba(28, 28, 28, 1) 0%, rgba(27, 32, 27, 1) 5%, rgba(151, 161, 163, 1) 100%); */
  /* background: radial-gradient(circle, rgba(28,28,28,1) 0%, rgba(15,15,15,1) 0%, rgba(129,129,129,1) 100%); */
  background: radial-gradient(circle, rgba(28, 28, 28, 1) 0%, rgba(15, 15, 15, 0.7581626400560224) 58%, rgba(129, 129, 129, 1) 84%);
  padding: 62px 20px;
  margin: 0 0 70px;
  background-size: cover;
  background-position: center;
}

.firstview-title {
  max-width: 1000px;
  margin: 0 auto;
  color: var(--white);
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.04em;
  line-height: var(--line-height-default);
  text-align: center;
}
