.pagination {
  margin: 80px 0 0;
}

ul.page-numbers {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

a.page-numbers,
span.page-numbers {
  padding: 12px 15px;
  border-radius: 8px;
}

a.page-numbers {
  border: var(--main-color) solid 1px;
  color: var(--main-color);
}

a.page-numbers:hover {
  background: var(--main-color);
  border: var(--white) solid 1px;
  color: var(--white);
}

.page-numbers .current {
  background: var(--main-color);
  border: var(--white) solid 1px;
  color: var(--white);
}
