.postItem-thumbnail {
  z-index: 1;
}

.postItem-inner::before {
  z-index: 2;
}

.postItem-inner,
.postItem-title,
.postItem-dataItem,
.postItem-btn {
  position: relative;
  z-index: 3;
}

/* animation */
.postItem-inner::before,
.postItem-title::after,
.postItem-dataItem,
.postItem-btn {
  transition: var(--transition-default);
}

.postItem-inner::before,
.postItem-title::after,
.postItem-dataItem {
  opacity: 0;
}

.postItem:hover .postItem-inner::before,
.postItem:hover .postItem-title::after,
.postItem:hover .postItem-dataItem,
.postItem.is-active .postItem-inner::before,
.postItem.is-active .postItem-title,
.postItem.is-active .postItem-dataItem {
  opacity: 1;
}

.postItem:hover .postItem-btn {
  color: var(--main-color);
  background: var(--white);
}
.postItem.is-active .postItem-btn {
  color: var(--main-color);
  background: var(--white);
}

.postItem:hover .btn-arrow::after {
  background: url("../../img/btn-arrow-active.png");
}
.postItem.is-active .btn-arrow::after {
  background: url("../../img/btn-arrow-active.png");
}

.postItem-title,
.postItem-dataItem {
  color: var(--white);
}

.postList {
  display: grid;
  gap: 30px;
}

.postItem {
  position: relative;
  border-radius: 8px;
}

.postItem-inner {
  overflow: hidden;
  min-height: 420px;
  border-radius: 8px;
  padding: 36px;
  cursor: pointer;
  background: transparent;
}
.postItem-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color-overlay);
  border-radius: 8px;
}

.postItem-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.postItem-title {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 24px;
  line-height: 1.3;
  padding: 0 0 5px;
}
.postItem-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
}

.postItem-dataList {
  margin: 34px 0 0;
}

.postItem-dataItem {
  font-size: 13px;
  line-height: var(--line-height-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postItem-btn {
  position: absolute;
  right: 36px;
  bottom: 36px;
  width: 130px;
  height: 30px;
  font-size: 13px;
}

@media screen and (min-width: 960px) {
  .postItem:hover .postItem-inner::before,
  .postItem:hover .postItem-title::after,
  .postItem:hover .postItem-dataItem {
    opacity: 1;
  }

  .postItem:hover .postItem-btn {
    color: var(--main-color);
    background: var(--white);
  }

  .postItem:hover .btn-arrow::after {
    background: url("../../img/btn-arrow-active.png");
  }

  .postList {
    gap: 20px;
  }

  .postItem-inner {
    min-height: 280px;
    padding: 36px 42px;
  }

  .postItem-title {
    font-size: 26px;
  }

  .postItem-dataList {
    margin: 20px 0 0;
  }

  .postItem-dataItem {
    font-size: 14px;
  }

  .postItem-btn {
    right: 42px;
    width: 140px;
    height: 34px;
    font-size: 14px;
  }
}
