.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.tagItem {
}

.tagBtn {
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 13px;
}

@media screen and (min-width: 960px) {
  .tagList {
    gap: 20px;
  }

  .tagBtn {
    padding: 10px 30px;
    font-size: 14px;
  }
}
