@import url("../../element/navList.css");
@import url("../../element/Btn.css");
@import url("../../element/logo.css");
@import url("../../element/Firstview.css");
@import url("../../element/TagList.css");
@import url("../../element/PostList.css");
@import url("../../element/Pagination.css");

.tag {
  margin: 70px 0 0;
}

.sec {
  margin: 80px 0 120px;
}

@media screen and (min-width: 960px) {
  .tag {
    margin: 70px 0 0;
  }

  .sec {
    margin: 80px 0 120px;
  }
}
