* {
  font-family: var(--font-family-default);
  font-size: 14px;
}

.main {
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.inner-sec {
  max-width: 1014px;
  padding: 0 14px;
}

.text-color-main {
  color: var(--main-color);
}

.text-color-white {
  color: var(--white);
}
