:root {
  --main-color: #71726d;
  --sub-color: #65ca75;
  --white: #fff;
  --bg-color-cover: rgba(0, 0, 0, 0.5);
  --font-family-default: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  --line-height-default: 1.7;
  --transition-default: all ease 0.3s;
}
