@import url("../../element/navList.css");
@import url("../../element/Btn.css");
@import url("../../element/logo.css");
@import url("../../element/Firstview.css");

.main {
  background: #eff2f6;
  color: #333;
  line-height: var(--line-height-default);
}

.sec {
  padding: 50px 0 100px;
}

/* label: */
.label {
  display: block;
  width: 100%;
  line-height: var(--line-height-default);
}

.label-input-checkbox,
.label-input-radio {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  gap: 0 6px;
}

.label-input-submit {
  width: 200px;
  height: 50px;
}
/* label; */

/* input: */
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-transform: scale(1);
}

.input,
.select,
.textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  color: #000;
}

.input-text,
.select {
  height: 34px;
}

.input-text {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 4px 8px;
  background: #fff;
  color: #333;
  font-size: 14px;
}

.input-radio,
.input-checkbox {
  border: 1px solid #333;
  appearance: checkbox;
  background: #fff;
  width: 14px;
  height: auto;
  aspect-ratio: 1/1;
}

.input-submit {
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.input-submit:hover {
  background: #fff;
  color: #333;
}

.select {
  padding: 6px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  color: #333;
}

.textarea {
  height: 200px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 4px 8px;
  resize: none;
}
/* input; */

/* form: */
.form {
  max-width: 400px;
  margin: 0 auto;
}

.form-sec:not(:first-child) {
  margin: 100px 0 0;
}

.form-sec-submit {
  display: grid;
  justify-content: center;
}

.form-sec-title {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 19px;
}

.form-sec-list {
  display: grid;
  gap: 60px 0;
}

.form-sec-item-title {
  margin: 0 0 8px;
  font-weight: bold;
}

.form-sec-item-text {
  margin: 0 0 8px;
}

.form-sec-item-list {
  display: grid;
}

.form-sec-item-list-row {
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.form-sec-item-list-column {
  flex-direction: column;
  gap: 6px;
}
/* form; */

/* modal: */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* modal; */

/* popup: */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 320px;
  height: 230px;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 20px;
  background: #fff;
}

.popup-text-tel {
  text-decoration: underline;
}

.popup-button {
  margin: 20px 0 0;
  height: 32px;
}
/* popup; */

.hide {
  display: none;
}

@media screen and (min-width: 960px) {
  .sec {
    padding: 70px 0 120px;
  }
}
